html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

body {
    min-height: 100vh;
    background: linear-gradient(
        235deg,
        rgba(69, 84, 255, 1) 0%,
        rgba(64, 255, 252, 1) 50%,
        rgba(250, 110, 245, 1) 100%
    );
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-login {
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  padding: 0.75rem 1rem;
}

